<mat-dialog-content [formGroup]="editForm">
  <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="5px">
    <mat-form-field appearance="standard">
      <mat-label>Numéro</mat-label>
      <input formControlName="numero"
             matInput
             placeholder="201225AZ">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Montant</mat-label>
      <input formControlName="montant" matInput
             placeholder="0"
             type="number">
    </mat-form-field>

  </mat-card>
</mat-dialog-content>
<mat-dialog-actions class="mat-elevation-z0" fxLayout="row" layout-align="end center">

  <button (click)="close()"
          class="material-icons red" mat-button>
    <mat-icon>close</mat-icon>
  </button>

  <button (click)="save()" [disabled]="!editForm.valid" class="material-icons green" mat-button>
    <mat-icon>save</mat-icon>
  </button>

</mat-dialog-actions>
