table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

td, th {
  width: 25%;
  text-align: left;
}

.mat-column-select {
  flex: 0 0 5% !important;
  width: 5% !important;
}

.mat-column-nom {
  flex: 0 0 10% !important;
  width: 33% !important;
}

.mat-column-libelle {
  flex: 0 0 10% !important;
  width: 50% !important;
}

.mat-column-actions {
  flex: 0 0 10% !important;
  width: 30% !important;
}

.background-spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 20%;
}
