table {
  width: 100%;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

td, th {
  width: 25%;
  text-align: left;
}

.mat-column-nom {
  flex: 0 0 5% !important;
  width: 40% !important;
}
.mat-column-libelle {
  flex: 0 0 5% !important;
  width: 60% !important;
}

.mat-column-editer .mat-column-supprimer {
  flex: 0 0 10% !important;
  width: 20% !important;
}

