/*.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}*/
.mat-form-field {
  margin-left: 1px;
}

.mat-form-field {
  width: 250px;
}

.mat-table .table {
  width: 300px;
}


.child-1 {
  background-color: #f6c977;
}

.child-2 {
  background-color: #8cad8e;
}

.child-3 {
  background-color: green;
}

.container {
  margin: 15px;
  height: 200px;
  border: 2px solid red;
}


table {
  width: 100%;
  height: 75%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

td, th {
  width: 25%;
  text-align: left;
}

.mat-column-select {
  flex: 0 0 5% !important;
  width: 5% !important;
}

.mat-column-montant {
  flex: 0 0 5% !important;
  width: 20% !important;
}

.mat-column-numero {
  flex: 0 0 5% !important;
  width: 20% !important;
}

.mat-column-actions {
  flex: 0 0 10% !important;
  width: 30% !important;
}
