<mat-dialog-content [formGroup]="editForm">
  <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="5px">
    <mat-form-field appearance="standard">
      <mat-label>Nom de la catégorie</mat-label>
      <input formControlName="nom"
             matInput
             placeholder="Nom de la catégorie">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <input formControlName="description"
             matInput
             placeholder="Description">
    </mat-form-field>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions class="mat-elevation-z0" fxLayout="row" layout-align="end center">

  <button (click)="close()"
          class="material-icons red">
    <mat-icon>close</mat-icon>
  </button>

  <button (click)="save()" [disabled]="!editForm.valid" class="material-icons green" mat-button>
    <mat-icon>save</mat-icon>
  </button>

</mat-dialog-actions>

