<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-fab class="material-icons yellow" [routerLink]="['/personne/liste-personne']">
      <mat-icon>view_stream</mat-icon>
    </button>
    <!--<button (click)="editDialoguePersonne()" class="material-icons green" mat-fab>-->
    <button (click)="newPersonne()" [routerLink]="['/personne/edite-personne']" class="material-icons green"
            mat-fab>
      <mat-icon>exposure_plus_1</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content [ngStyle]="{ 'margin..px': contentMargin }">
    <div class="main">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

