<h2 mat-dialog-title>Edition d'une catégorie</h2>


<mat-dialog-content [formGroup]="editForm">

  <mat-form-field appearance="legacy">

    <input formControlName="nom"
           matInput
           placeholder="Nom de la catégorie">

  </mat-form-field>

  <mat-form-field appearance="legacy">

    <input formControlName="description"
           matInput
           placeholder="Description">

  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

  <button (click)="close()"
          class="mat-raised-button mat-warn material-icons white">
    <mat-icon inline=true>cancel</mat-icon>
  </button>

  <button (click)="save()" [disabled]="!editForm.valid"
          class="mat-raised-button mat-primary material-icons white">
    <mat-icon inline=true>done</mat-icon>
  </button>

</mat-dialog-actions>
