table {
  width: 100%;
}

.mat-form-field {
  font-size: 11px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-nom {
  flex: 0 0 5% !important;
  width: 30% !important;
}

.mat-column-prenom {
  flex: 0 0 5% !important;
  width: 40% !important;
}

.mat-column-categorie {
  flex: 0 0 5% !important;
  width: 25% !important;
}

.mat-column-editer .mat-column-supprimer {
  flex: 0 0 10% !important;
  width: 15% !important;
}
