<h1 mat-dialog-title mat-primary>Edition d'une personne</h1>
<mat-dialog-content (ngSubmit)="submitPersonne()" [formGroup]="personneForm">

  <mat-grid-list cols="1" rowHeight="4rem">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Nom</mat-label>
        <input formControlName="nom" matInput placeholder="Dupont" required type="text">
        <mat-error *ngIf="personneForm.get('nom')!.errors &&
               personneForm.get('nom')!.hasError('required')">
          Le nom est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="4rem">
    <mat-grid-tile>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Prénom</mat-label>
        <input formControlName="prenom" matInput placeholder="Dupont" required type="text">
        <mat-error *ngIf="personneForm.get('prenom')!.errors &&
               personneForm.get('prenom')!.hasError('required')">
          Le prénom est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="4rem">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Sélectionner un identifiant</mat-label>
        <mat-select formControlName="categorie" matNativeControl required>
          <mat-option *ngFor="let p of elementsCategorie" [value]="p.id">
            {{ p.nom }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="personneForm.get('categorie')!.errors &&
               personneForm.get('categorie')!.hasError('required')">
          L'identifiant est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <!--  <mat-grid-list cols="1">
      <mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!---
  -->
  <div style="display: block; margin: 10px">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Mia">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table matSort>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                          (click)="$event.stopPropagation()"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- identifiant -->
        <ng-container matColumnDef="numero">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Identifiant</th>
          <td *matCellDef="let row" mat-cell> {{row.numero}} </td>
        </ng-container>
        <!-- Nom -->
        <ng-container matColumnDef="montant">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Montant</th>
          <td *matCellDef="let row" mat-cell> {{row.montant}} </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell> Actions</th>
          <td *matCellDef="let row" class="action-link" mat-cell>

            <button (click)="openDialog('Delete',row)" class="material-icons red" mat-fab>
              <mat-icon>star_rate</mat-icon>
            </button>

          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        <!-- Dans le cas d'une recherche null depuis le filtre -->
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="4">Aucune donnée correspondant au filtre "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[ 5,10, 25, 100]" aria-label="Sélectionnez une page"></mat-paginator>
    </div>
  </div>
  <!--
  -->
  <!--<mat-form-field class="full-width" appearance="legacy">
    <mat-label>Ticket(s)</mat-label>
    <mat-select matNativeControl required formControlName="categorie">
      <mat-option *ngFor="let p of elementsCategorie" [value]="p.id">
        {{ p.nom }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="personneForm.get('categorie')!.errors &&
           personneForm.get('categorie')!.hasError('required')">
      L'identifiant est <strong>obligatoire</strong>
    </mat-error>
  </mat-form-field>-->
  <!--    </mat-grid-tile>
    </mat-grid-list>-->
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="!personneForm.valid" class="material-icons blue" mat-button>
    <mat-icon>done</mat-icon>
  </button>
  <button (click)="close()" class="material-icons red" mat-button>
    <mat-icon>cancel</mat-icon>
  </button>
</mat-dialog-actions>

